.btn {
    transition: box-shadow .15s ease;
    border: none;
    border: 0;
    box-shadow: 0px 2px 3px 1px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%) !important;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    @include flx-center-childs;

    .icon {
        width: 30px;
        font-size: 16px;
        height: inherit;
        background-color: inherit;
        color: inherit;
        @include flx-center-childs;
    }

    &-rounded {
        border-radius: 1rem !important;
    }

    &-default {
        @include button-effect($default);
    }

    &-primary {
        @include button-effect($primary);
    }

    &-success {
        @include button-effect($success);
    }

    &-info {
        @include button-effect($info);
    }

    &-warning {
        @include button-effect($warning);
    }

    &-danger {
        @include button-effect($danger);
    }

    &-dark {
        @include button-effect($dark);
    }

    &-sm {
        padding: 0 10px;
    }

    &-lg {
        padding: 10px 15px;
    }
}