.form-group {
    margin-bottom: 20px;

    &.no-margin {
        margin: 0 !important;
    }

    &.wth-100 {
        width: 100% !important;
    }
}

.input-group {
    // background-color: red;

    &.custom-shadow {
        transition: box-shadow .15s ease;
        box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%) !important;

        &:focus-within {
            box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
        }
    }

    .icon {
        width: 40px;
        font-size: 15px;
        height: inherit;
        background-color: white;
        @include flx-center-childs;

        &.rounded {
            border-radius: 70px 0 0 70px !important;
        }
    }
}

input {
    background-color: #fff;
    height: 40px;
    font-size: 14px;
    border: none !important;
    box-shadow: none;
    border-radius: 0 4px 4px 0 !important;

    &:focus {
        border: none;
        box-shadow: none;
    }

    &.icon-left {
        padding-left: 3px;
    }

    &.icon-right {
        padding-right: 3px;
    }

    &.rounded {
        border-radius: 0 70px 70px 0 !important;
    }

    &.form-control {

        &:focus {
            border: none !important;
            box-shadow: none !important;
        }
    }
}