.vue-notification-group {
  width: 340px !important;
  padding: 30px 20px 0 20px !important;
}

.vue-notification {
    padding: 10px;
    margin: 0 5px 5px;
   
    font-size: 12px;
   
    color: #ffffff;
    background: $primary;
    border-left: 5px solid #187FE7;
   
    &.warn {
      background: $warning;
      border-left-color: #f48a06;
    }
   
    &.error {
      background: $danger;
      border-left-color: #B82E24;
    }
   
    &.success {
      background: $success;
      border-left-color: #42A85F;
    }

    &.rounded {
      border-radius: 4px;
    }
  }