@import 'button', 'fonts', 'inputs';

html, body {
    font-family: Open Sans,sans-serif;
    background-color: $background;
	color: $default-text-color;
}

#__nuxt {
    height: 100vh;

    #__layout {
        height: inherit;

        .main {
            height: inherit;
        }
    }
}

.mt--6 {
    margin-top: -4.5rem !important;
}