@import 'button', 'fonts', 'inputs';

html, body {
    font-family: sans-serif;
    background-color: $background;
	color: $default-text-color;
}

#__nuxt {
    height: 100vh;

    #__layout {
        height: inherit;

        .main {
            height: inherit;
        }
    }
}

.mt--6 {
    margin-top: -4.5rem !important;
}

.d-flex {
    display: flex;
}

.media {
    width: 45px;
    height: 45px;
    @include flx-center-childs;

    &.mr-10 {
        margin-right: 10px;
    }

    img {
        width: inherit;
        border-radius: 50%;
    }
}

.text-primary {
    color: $primary !important;
}
.text-secondary {
    color: $secondary !important;
}
.text-success {
    color: $success !important;
}
.text-info {
    color: $info !important;
}
.text-warning {
    color: $warning !important;
}
.text-danger {
    color: $danger !important;
}
.text-light {
    color: $light !important;
}
.text-dark {
    color: $dark !important;
}