$default-color: #5e72e4;
$default-color-25perc: rgb(94 114 228 / 25%);
$default-dark-color: #172b4d;
$background: #f0f3f9;
$grey-color: #acb5bd;
$dark-grey-color: #464646;
// $default-text-color: #303337;
$default-text-color: #575f7f;

// Colors based in argon template
$default: $default-dark-color;
$primary: $default-color;
$secondary: #f7fafc;
$success: #6ccf8a;
$info: #53cdef;
$warning: #ed603f;
$danger: #eb475b;
$light: #f8f9fa;
$dark: #212529;